node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
@rerun.txt
.vscode/
Dependencies/
ScreenShots/
tsx/
*/systemInfo.json
SpecFiles/test-results/
src/test/helper/testData/systemInfo.json